html,body{
	height:100%;
	background-color: #FFFFFF;	
	margin: 0px 0px 10px 0px; 
	padding: 0px; 
	border: 0px;
	font-family: "Open Sans", "Segoe UI", Arial;
	font-size: 14px ;
	font-weight: normal;
	overflow-y:hidden;
}
	
.my_para{
	font-family: "Open Sans", "Segoe UI", Arial;
	font-size: 14px ;
	font-weight: normal;
	color: #333333;
	padding: 0px ;
	margin: 0px ;
}

.valign-helper {
	display: inline-block;
	height: 100%;
	vertical-align: middle;
	margin: 0px;
	padding: 0px;
}

.vdivider {
	border-left:1px solid #6E84A5;
	height: 40px;
	margin: 10px 20px 10px 20px;
}

.vdivider_small {
	border-left:1px solid #FFFFFF;
	height: 20px;
	margin: 15px 10px 15px 10px;
}

.malware_name_container{
	width:100%;
	height:60px;
	line-height: 60px;	
	background-color:#455A7A;
	color: #FFFFFF;
	overflow: hidden;
}

.title_fake_tab {
	padding: 0px 5px 0px 5px;
	margin: 0px 0px 0px 0px;
	float: left;
	height: 44px;
	line-height: 44px;	
	vertical-align: middle;
	color: #7A90B1;	
	cursor: pointer;
}

.title_fake_tab:hover {
	border-bottom: 2px solid #7A90B1;
}


.fake_tab_selection {
	border-bottom: 2px solid #FFFFFF;
	color: #FFFFFF;
	cursor: default ;
}

.tree_container{
	width:100%;
	height: calc(100% - 60px) ;
	overflow-x:hidden;
	overflow-y:hidden;
	background-color: #FFFFFF;
}

.tree_timeline_axis_container{
	width:100%;
	height:50px;
	overflow-x:hidden;	
	overflow-y:hidden;
	background-color: #FFFFFF;
	clear: both;
}

.tree_timeline_container{
	width:100%;
	height: calc(100% - 110px) ;
	overflow-x:hidden;
	overflow-y:hidden;
	background-color: #FFFFFF;
}

.vertical_timeline_container{
	width:100%;
	background-color: #FFFFFF;
	padding: 0px 10px 10px 10px;
	height: calc( 100% - 60px);
	overflow: auto ;
}

.proc_splitter {
	width:100%;
	background-color: #FFFFFF;
	position: absolute;
	bottom:10px;
	left: 0px;
	right: 0px;
	height: 10px;
	line-height: 10px;
	margin: 0px;
	padding: 0px;
	padding-top: 3px;
	overflow: hidden;
	/*
	background-image: url('../images/splitter.png') ;
	background-position: center center;
	background-repeat:no-repeat ;	
	*/
}	

.process
{
	position: absolute;
	bottom: 0 ;
	left: 0 ;
	right: 0 ;
	height: 53px;
	margin: 0px 20px 5px 20px;
	background-color: #FFFFFF;
	border: 1px solid #CECECE;
	overflow: hidden;

	/*
	background-image: url('../images/ei_dragon4.png') ;
	background-position: right bottom;
	background-repeat:no-repeat ;
	background-attachment: local ;
	*/
}

.overview
{
	position: absolute;
	height: 100%;
	margin: 0px;
	padding: 0px;
	overflow: hidden ;
}

.table_div
{
	padding: 0px 10px 10px 10px;
	width: 100%;
}

.radio_div
{
	padding: 0px 0px 20px 10px;
	background-color: transparent;
	text-align: left ;
}

Select {
	font-family: "Open Sans", "Segoe UI", Arial;
	font-size: 14px ;
	font-weight: normal;
	padding-left: 5px; 
	margin: 0px;
	background: #253246;
	color: #FFFFFF;
	border:none;
	border-radius: 2px;
	outline:none;
	height: 30px;
	display: inline-block;
	cursor:pointer;
	-webkit-appearance: none;
	-moz-appearance: none;
	background-image: url('../images/expander.png') ;
	background-repeat:no-repeat ;
}

Select option {
	font-family: "Open Sans", "Segoe UI", Arial;
	font-size: 14px ;
	font-weight: normal;
	background: #FFFFFF ;
	color:#333333;
	height: 30px;
	padding: 5px 10px 5px 10px ;
	vertical-align: middle;
}

.nav-select {
	background-position: 165px center;
	width: 180px;
}
	
.overlay{
	background-color: #FFFFFF;
}

#legend-overlay {
	visibility: hidden;
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	text-align: center;
	z-index: 1000;
	background-color: rgba(0,0,0,0.3);	
}

#legend-overlay div {
	position: fixed;
	width: 620px;
	top: 90px;
	right: 120px;
	border:none;
	text-align:center;
	padding: 0px ;
	margin: 0px ;
}
   
.node {
	cursor: pointer;
 }

 .node circle {
	fill: #fff;
	stroke: steelblue;
	stroke-width: 1.5px;
}
   
.node text {
	font-family: "Open Sans", "Segoe UI", Arial;
	font-size: 12px; 
	font-weight: 400;
}

tspan {
	font-family: "Open Sans", "Segoe UI", Arial;
	font-size: 12px; 
	font-weight: 400;
}	
   
.link {
	fill: none;
	stroke: #3474C5;
	stroke-width: 1.5px;
}

.bootLink {
	fill: none;
	stroke: #3474C5;
	stroke-width: 1.0px;
}

.additionalParentLink {
	fill: none;
	stroke: #00FF00;
	stroke-width: 1px;
}

.additionalChildLink {
	fill: none;
	stroke: #FF00FF;
	stroke-width: 1px;
}

.subtreeLinks {
	fill: none;
	stroke: deepskyblue;
	stroke-width: 0.5px;
}

.injectionLinks {
	fill: none;
	stroke: #ED3333;
	stroke-width: 0.5px;
}

.tabs_right {
	padding: 0px;
	margin: 0px;
}

.tabs_summary_opt {
	position: absolute;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	width: 142px ;
	height: 20px ;
	top: 5px ;
	right: 25px ;
}

.tabs_min_expand {
	position: absolute;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	width: 20px ;
	height: 20px;
	cursor: pointer ;
	top: 5px ;
	right: 0px ;
}

 /*----- Content of Tabs -----*/
 .proc-tab-content {
	display: none;
	width:100% ;
	height: calc( 100% - 53px );	
	margin: 0px ;
	padding: 10px 10px 0px 10px;
	/*border-radius:3px;*/
	/*box-shadow:-1px 1px 1px rgba(0,0,0,0.15);*/
	background-color:transparent;
	clear:left;
	overflow: auto ;
}

 /*----- Content of Tabs -----*/
 .overview-tab-content {
	width:100% ;
	margin: 0px ;
	padding: 40px 20px ;
	height: calc(100% - 53px);
	/*border-radius:3px;*/
	/*box-shadow:-1px 1px 1px rgba(0,0,0,0.15);*/
	background-color:transparent;
	clear:left;
	overflow: auto ;
}

.skin3.top .tabs_header {
	margin: 0px 0px 0px 0px;
	padding: 10px 10px 0px 10px;
	list-style: none;	
	border-bottom: 1px solid #CECECE;
	height: 53px ;
	width: 100%;
}

.skin3.top .tab_header_item {
	float: left;
	margin: 10px 0px 0px 0px;
	background: #F0F0F0;
	height: 33px;
	border-top: 1px solid #CECECE;	
	border-right: 1px solid #CECECE;	
	border-bottom: 1px solid #CECECE;
}

@media only screen and (max-width: 1599px) {
  .skin3.top .tab_header_item {
	min-width: 80px;
  }
}

@media only screen and (min-width: 1600px) {
  .skin3.top .tab_header_item {
	min-width: 125px;
  }
}

.skin3.top .tab_header_item:hover {
	background: #E7E8E7;
}


.skin3.top .first_tab_item{
	border-left: 1px solid #CECECE;	
}

.skin3.top .tab_header_item.tab_selected {
	margin: 0px 0px -1px -1px;
	background: #FFFFFF;
	height: 43px;
	border-top: 3px solid #455A7A ;
	border-left: 1px solid #CECECE;
	border-bottom: 1px solid #FFFFFF;
}

.skin3.top .tab_header_item a {
	display: block;
	padding: 0px 10px;
	line-height: 33px;
	font-family: "Open Sans", "Segoe UI", Arial;
	font-weight: normal;
	color: #333333;
	text-decoration: none;
	text-align: left;
	outline: 0;
	border: none ;
}

@media only screen and (max-width: 1599px) {
  .skin3.top .tab_header_item a {
	font-size: 12px ;
  }
}

@media only screen and (min-width: 1600px) {
  .skin3.top .tab_header_item a {
	font-size: 14px ;
  }
}

.skin3.top .tab_content {
	clear: left;
	display: none;
	font-family: "Open Sans", "Segoe UI", Arial;
	font-size: 14px ;
	font-weight: normal;
	color: #333333;
	padding: 5px 20px;
}

.eitlogo {
	float:left;
	width:10%;
	height:100%;
	margin: 0px ;
	background-color:transparent;
	background-image: url('../images/ei_dragon4.png') ;
	background-position: right bottom;
	background-repeat:no-repeat ;
	background-attachment: local ;
}
 
.tab {
	display:none;
}
 
.tab.active {
	display:block;
}
		
table, th, td {
	border-collapse: collapse;
	table-layout:fixed;
	word-wrap:break-word;
}

.cp-button {
	font-family: "Open Sans", "Segoe UI", Arial;
	font-size: 14px ;
	font-weight: normal;
	height: 40px;
	width: 150px;
	padding: 0px;
	margin: 0px;
	border: none;
	border-radius: 2px;
	color: #FFFFFF;
	background-color: #455A7A ;
	vertical-align: middle;
	line-height: 40px;
}

.cp-button:hover {
	background-color: #506C98 ;
}

.cp-button:active {
	background-color: #37465E ;
}

.cp-button:disabled {
	background-color: #37465E ;
}

.cp-tab-button {
	font-family: "Open Sans", "Segoe UI", Arial;
	font-size: 14px ;
	font-weight: normal;
	height: 40px;
	width: 150px;
	border: none;
	border-radius: 2px;
	color: #FFFFFF;
	background-color: #455A7A ;
}

.cp-switch {
	font-family: "Open Sans", "Segoe UI", Arial;
	font-size: 12px ;
	font-weight: normal;
	height: 24px;
	width: 70px;
	border: 1px solid #CECECE ;
	border-radius: 2px;
	color: #333333;
	background-color: #F0F0F0 ;
	margin: 0px;
	padding: 0px ;
	cursor: pointer ;
}

.cp-switch:hover {
	background-color: #E7E8E7 ;
}

.cp-switch:active {
	background-color: #D7D8D7 ;
}

.cp-switch.switch-selected {
	color: #FFFFFF ;
	background-color: #455A7A ;
	border-color: #33435C ;
	cursor: default ;
}

input[type=radio].css-checkbox {
	position:absolute; z-index:-1000; left:-1000px; overflow: hidden; clip: rect(0 0 0 0); height:1px; width:1px; margin:-1px; padding:0; border:0;
}

input[type=radio].css-checkbox + label.css-label {
	padding-left:25px;
	padding-right:70px;
	height:15px; 
	display:inline-block;
	line-height:15px;
	background-repeat:no-repeat;
	background-position: 0 0;
	vertical-align:middle;
	cursor:pointer;
}

input[type=radio].css-checkbox:checked + label.css-label {
	background-position: 0 -15px;
}

label.css-label {
	background-image:url(../images/cp_rb.png);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}

.circular {
	position: fixed;
	display: inline-block;
	width: 60px;
	height: 60px;
	top: 100px;
	right: 50px;
	border-radius: 30px;
	background: url('../images/legend_icon.png') no-repeat;
}

.graph-toolbar {
	position: fixed;
	display: inline-block;
	width: 65px;
	height: 182px;
	top: 100px;
	right: 50px;
	border-radius: 30px;
}

#TestText
{
    position: absolute;
    visibility: hidden;
    height: auto;
    width: auto;
    white-space: nowrap; /* Thanks to Herb Caudill comment */
}