.form-style-2{
	max-width: 2000px;
	padding: 0px 10px 0px 10px;
	font-family: "Open Sans", "Segoe UI", Arial;
	font-size: 14px ;
	font-weight: normal;
	background-color:transparent;	
}

.form-style-2-heading{
	font-weight: bold;
	font-style: italic;
	/*
	border-bottom: 2px solid #ddd;
	margin-bottom: 20px;
	padding-bottom: 3px;
	*/
	font-size: 15px;
}

.form-style-2 label{
	margin: 0px 0px 0px 0px;
}

.form-style-2 label > span{
	display:table-cell; 
	width: 100px;
	float: left;
	padding-top: 0px;
	padding-right: 0px;
}

.form-style-2 span.required{
	color:red;
}

.form-style-2 .tel-number-field{
	width: 40px;
	text-align: center;
}

.span-label {
	display:table-cell; 
	white-space:nowrap;
	padding: 0px ;
	margin: 0px ;
}

.span-label-top {
	display:table-cell; 
	white-space:nowrap;
	vertical-align: top;
	padding: 0px ;
	margin: 0px ;
}

.span-input {
	display:table-cell; 
	white-space:nowrap;
	padding: 0px 0px 0px 10px;
	width: 100%;
	margin: 0px ;
}

.span-para {
	width: 100px;
	padding: 0px ;
	margin: 0px ;
}

.form-style-2 legend {
	float: left;
	font-size: 18px;
	font-weight: normal;
	color: #3474C5;
	width: 100%;
	background-color: transparent ;
	text-align: left; 
	border-bottom: 1px dotted #CECECE; 
	line-height:0.1em; 
	margin:0px;
}

.form-style-2 legend > span { 
	text-align: left; 
	background: #FFFFFF; 
}


.form-style-2 hr {
	float: left;
	border: none;
	padding-bottom: 20px ;
	width: 100%;
	margin: 0px;
}

.input-field-ralign {
	text-align: right ;
}

.form-style-2 input.input-field, .form-style-2 .textarea-field{
	width: 100%;   
	font-family: "Open Sans", "Segoe UI", Arial;
	font-size: 14px;
	font-weight: normal;	
}

.form-style-2 input.input-field, .form-style-2 .tel-number-field, .form-style-2 .textarea-field, .form-style-2 .select-field{
	background: transparent;
	border-radius: 2px;
	border: 1px solid #CECECE; 
	position: relative;
	height: 30px;
	padding: 0px 10px 0px 10px;
}

.form-style-2 .input-field:focus, .form-style-2 .tel-number-field:focus, .form-style-2 .textarea-field:focus, .form-style-2 .select-field:focus{
	border: 1px solid #3474C5;
}

.form-style-2 .textarea-field{
	height: 65px;
}

.form-style-2 input[type=submit], .form-style-2 input[type=button]{
	border: none;
	padding: 5px 10px 5px 10px;
	background: #FF8500;
	color: #fff;
	box-shadow: 1px 1px 4px #DADADA;
	-webkit-box-shadow: 1px 1px 4px #DADADA;
	border-radius: 3px;
	-webkit-border-radius: 3px;
}

.form-style-2 input[type=submit]:hover, .form-style-2 input[type=button]:hover{
	background: #EA7B00;
	color: #fff;
}

.div100L
{
	float: left ;
	vertical-align: middle;
	width: 100% ;
	padding: 0px 0px 10px 0px;
	overflow: hidden ;
}

.no-padding-bottom
{
	padding-bottom: 0px ;
}

.div50L
{
	background-color:transparent;
	float: left ;
	width: 50% ;
	padding: 0px 35px 10px 0px;
	overflow: hidden ;
}

.div50R
{
	background-color:transparent;
	float: right ;
	width: 50% ;
	padding: 0px 0px 10px 35px;
	overflow: hidden ;
}

.div33L
{
	background-color:transparent;
	float: left ;
	width: 33% ;
	padding: 0px 35px 10px 0px;
	overflow: hidden ;
}

.div33M
{
	background-color:transparent;
	float: left ;
	width: 33% ;
	padding: 0px 35px 10px 35px;
	overflow: hidden ;
}

.div33R
{
	background-color:transparent;
	float: right ;
	width: 33% ;
	padding: 0px 0px 10px 35px;
	overflow: hidden ;
}

.div66L
{
	background-color:transparent;
	float: left ;
	width: 66% ;
	padding: 0px 35px 10px 0px;
	overflow: hidden ;
}

.div40R
{
	background-color:transparent;
	float: right ;
	width: 40% ;
	padding: 0px 0px 10px 35px;
	overflow: hidden ;
}

.div60L
{
	background-color:transparent;
	float: left ;
	width: 60% ;
	padding: 0px 35px 10px 0px;
	overflow: hidden ;
}