   
/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.email {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
    #form-forgot{
    	width:80%;
    }
}
/* For mobile phones: */
[class*="col-"] {
    width: 100%;
}
@media only screen and (max-width: 768px) {
     #form-forgot{
    	width:80%;
    }
    
    .sct-login .sctl-right .sctl-form{
    	padding: 10px 0!important;
    }

}
@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}

}

@media only screen and (max-width: 500px) {
    body {
        background-color: lightblue;
    }
}