 /*IMPORT CSS*/
  /*reset.css & normalize.css digunakan agar Compatible di Semua Browser*/
  @import "reset.css";
  @import "normalize.css";
  
  /*grid12.css digunakan untuk grid dan responsive*/ 
  @import "grid12.css";

  /*library css untuk mendukung interaksi*/
  /*font-awesome digunakan untuk icon*/ 
  @import "libs/font-awesome-4.6.3/css/font-awesome.min.css";
  
 
/*!IMPORT CSS*/

/*DEFAULT*/
body{
  font-family: "Lato", sans-serif;
  font-size: 15px;
  line-height: 22px;
  color: #242413;
  background-image: url(../images/LP-background.jpg);
  background-attachment: fixed;
  background-size: cover;
}
img{
  max-width: 100%;
}
a{
  text-decoration: none;
  color: #E14938;
  transition: all 0.4s ease;
}
  a:hover{
    color: #ca4637;
  }
/*!DEFAULT*/

/*GENERAL*/
body.bg-white{
  background: #fff;
}
body.bg-gray{
  background: #EDEEF0;
}

.text-center{
  text-align: center;
}
.text-left{
  text-align: left !important;
}
.text-transform-normal{
  text-transform: none !important;
}

.hidden{
  position: absolute;
  overflow: hidden;
  width: 0;
  height: 0;
  pointer-events: none;
}

.no-padding{
  padding: 0 !important;
}

.btn-arim{
  border: 0;
  padding: 3px 6px;
}

.col-center{
  margin: auto;
  float: none;
}
.icon{
    display: block;
    width: 1.5em;
    height: 1.5em;
    margin: 0 auto;
    fill: currentColor;
}
  .icon.icon-bg-search{
    width: 22px;
    height: 16px;
    background-image: url(../images/icon-bg-search.png);
  }
  .icon.icon-bg-linkedin{
    width: 26px;
    height: 24px;
    background-image: url(../images/socmed/Linkedin.png);
  }
    .icon.icon-bg-linkedin-2{
      width: 26px;
      height: 24px;
      background-image: url(../images/socmed/LinkedinOn.png);
    }
  .icon.icon-bg-youtube{
    width: 26px;
    height: 31px;
    background-image: url(../images/socmed/Youtube.png);
  }
    .icon.icon-bg-youtube-2{
      width: 26px;
      height: 31px;
      background-image: url(../images/socmed/YoutubeOn.png);
    }
  .icon.icon-bg-slideshare{
    width: 30px;
    height: 21px;
    background-image: url(../images/socmed/Slideshare.png);
  }
    .icon.icon-bg-slideshare-2{
      width: 30px;
      height: 21px;
      background-image: url(../images/socmed/SlideshareOn.png);
    }

    /**/
    .form-default{}
      .form-default .form-control{
        border-color: #32485F;
        border-radius: 0;
      }
    /**/

    /*MAP*/
    .jqvmap-zoomin, .jqvmap-zoomout{
      width: 32px;
      height: 32px;
      right: 15px;
      left: initial;
      padding: 12px;
      line-height: 6px;
      background-color: #142434;
    }
    .jqvmap-zoomout{
      top: 48px;
    }
    /*MAP*/

    /*MARGIN*/
    .margin-bottom-25{
      margin-bottom: 25px;
    }
    .no-margin{
      margin: auto;
    }
      .no-margin.no-margin-bottom{
        margin-bottom: auto !important;
      }
    /*!MARGIN*/
/*Revisi 11/04 login*/
.errorMessage{
  margin-top: 0;
  text-align: center;
}
  .errorMessage .errorMessageText{
    display: inline-block;
    padding: 10px;
    background-color: #E14938;
    color: #fff;
    border-radius: 5px;
    margin-top: 14px;
    margin-right: 140px;
  }
  .errorMessage .errorMessageText2{
    background-color: #4FA88A;
  }
  .close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}
/*Revisi 11/04*/

/*Revisi 11/04 forgot*/
.btn-forgot{
  width:100%;
}
#form-forgot{
    padding: 20px;
}
.errorMessage1{
  margin-top: 0;
  text-align: center;
}
  .errorMessage1 .errorMessageText1{
    display: inline-block;
    padding: 10px;
    background-color: #E14938;
    color: #fff;
    border-radius: 5px;
    margin-top: 14px;
    margin-right: : 70px;
  }
  .errorMessage1 .errorMessageText21{
    background-color: #4FA88A;
  }
/*Revisi 11/04*/
/* Full-width input fields */
input[type=text], input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    outline: none;
}

/* Set a style for all buttons */
button {
    background-color: #32485F;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 35%;
}

button:hover {
    
}

/* Extra styles for the cancel button */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}
a.ex5:visited, a.ex5:link {text-decoration: underline;}
a.ex5:hover, a.ex5:active {text-decoration: underline; color: red;}

/* Center the image and position the close button */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

img.avatar {
    width: 100%;
    border-radius: 50%;
}

.container {
    padding: 16px;
}

span.email {
    float: right;
    padding-top: 16px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    /* overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 30%; /* Could be more or less, depending on screen size */
}
.alert {
    padding: 20px;
    background-color: #f44336;
    color: white;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}
/* The Close Button (x) */
.close {
    position: absolute;
    right: 0;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}
    
@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}

    /*PROGRESS RADIAL*/
    .progress-radial {
      position: relative;
      width: 100px;
      height: 100px;
      border-radius: 50%;
      border: 0 solid #2f3439;
      background-color: #97BEDB;
    }
      .progress-radial.progress-property{
        margin: 30px auto 20px;
      }

      /*SIZE*/
      .progress-radial.progress-size-64{
        width: 64px;
        height: 64px;
      }
        .progress-radial.progress-size-64 .overlay{
          width: 50px;
          height: 50px;
          margin-left: 7px;
          margin-top: 7px;
          line-height: 50px;
          font-size: 14px;
        }
      .progress-radial.progress-size-150{
        width: 150px;
        height: 150px;
      }
        .progress-radial.progress-size-150 .overlay{
          width: 130px;
          height: 130px;
          margin-left: 10px;
          margin-top: 10px;
          line-height: 115px;
          font-size: 30px;
        }
          .progress-radial.progress-size-150 .overlay p{
            position: absolute;
            top: 25px;
            left: 0;
            right: 0;
            font-size: 16px;
            font-weight: normal;
          }
        .progress-radial.progress-size-150 .property{
          width: 170px;
          height: 170px;
          top: -10px;
          left: -10px;
        }
      .progress-radial.progress-size-120{
        width: 120px;
        height: 120px;
      }
        .progress-radial.progress-size-120 .overlay{
          width: 100px;
          height: 100px;
          margin-left: 10px;
          margin-top: 10px;
          line-height: 80px;
          font-size: 25px;
        }
          .progress-radial.progress-size-120 .overlay p{
            position: absolute;
            top: 22px;
            left: 0;
            right: 0;
            font-size: 13px;
            font-weight: normal;
          }
        .progress-radial.progress-size-120 .property{
          width: 140px;
          height: 140px;
          top: -10px;
          left: -10px;
        }
      /*SIZE*/

    /* -------------------------------------
     * Optional centered circle w/text
     * ------------------------------------- */
    .progress-radial .overlay {
      position: absolute;
      width: 80px;
      height: 80px;
      background-color: #fff;
      border-radius: 50%;
      margin-left: 11px;
      margin-top: 10px;
      text-align: center;
      line-height: 80px;
      font-size: 16px;
      font-weight: bold;
    }
      .progress-radial .overlay p{
        position: absolute;
        top: 15px;
        left: 0;
        right: 0;
        font-size: 12px;
        font-weight: normal;
      }
    .progress-radial .property{
      position: absolute;
      width: 115px;
      height: 115px;
      background-image: url(../images/cart_property.png);
      background-size: cover;
      top: -7px;
      left: -7px;
    }

    .progress-radial.progress-light{}
      .progress-radial.progress-light .overlay{
        background-color: #32485F;
      }
      .progress-radial.progress-light .property{
        background-image: url(../images/cart_property_light.png);
      }

    /* -------------------------------------
     * Mixin for progress-% class
     * ------------------------------------- */
    .progress-0 {
      background-image: linear-gradient(90deg, #97BEDB 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(90deg, #32485F 50%, #97BEDB 50%, #97BEDB);
    }

    .progress-5 {
      background-image: linear-gradient(90deg, #97BEDB 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(108deg, #32485F 50%, #97BEDB 50%, #97BEDB);
    }

    .progress-10 {
      background-image: linear-gradient(90deg, #97BEDB 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(126deg, #32485F 50%, #97BEDB 50%, #97BEDB);
    }

    .progress-15 {
      background-image: linear-gradient(90deg, #97BEDB 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(144deg, #32485F 50%, #97BEDB 50%, #97BEDB);
    }

    .progress-20 {
      background-image: linear-gradient(90deg, #97BEDB 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(162deg, #32485F 50%, #97BEDB 50%, #97BEDB);
    }

    .progress-25 {
      background-image: linear-gradient(90deg, #97BEDB 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(180deg, #32485F 50%, #97BEDB 50%, #97BEDB);
    }

    .progress-30 {
      background-image: linear-gradient(90deg, #97BEDB 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(198deg, #32485F 50%, #97BEDB 50%, #97BEDB);
    }

    .progress-35 {
      background-image: linear-gradient(90deg, #97BEDB 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(216deg, #32485F 50%, #97BEDB 50%, #97BEDB);
    }

    .progress-40 {
      background-image: linear-gradient(90deg, #97BEDB 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(234deg, #32485F 50%, #97BEDB 50%, #97BEDB);
    }

    .progress-45 {
      background-image: linear-gradient(90deg, #97BEDB 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(252deg, #32485F 50%, #97BEDB 50%, #97BEDB);
    }

    .progress-50 {
      background-image: linear-gradient(-90deg, #32485F 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #32485F 50%, #97BEDB 50%, #97BEDB);
    }

    .progress-55 {
      background-image: linear-gradient(-72deg, #32485F 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #32485F 50%, #97BEDB 50%, #97BEDB);
    }

    .progress-60 {
      background-image: linear-gradient(-54deg, #32485F 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #32485F 50%, #97BEDB 50%, #97BEDB);
    }

    .progress-65 {
      background-image: linear-gradient(-36deg, #32485F 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #32485F 50%, #97BEDB 50%, #97BEDB);
    }

    .progress-70 {
      background-image: linear-gradient(-18deg, #32485F 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #32485F 50%, #97BEDB 50%, #97BEDB);
    }

    .progress-75 {
      background-image: linear-gradient(0deg, #32485F 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #32485F 50%, #97BEDB 50%, #97BEDB);
    }

    .progress-80 {
      background-image: linear-gradient(18deg, #32485F 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #32485F 50%, #97BEDB 50%, #97BEDB);
    }

    .progress-85 {
      background-image: linear-gradient(36deg, #32485F 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #32485F 50%, #97BEDB 50%, #97BEDB);
    }

    .progress-90 {
      background-image: linear-gradient(54deg, #32485F 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #32485F 50%, #97BEDB 50%, #97BEDB);
    }

    .progress-95 {
      background-image: linear-gradient(72deg, #32485F 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #32485F 50%, #97BEDB 50%, #97BEDB);
    }

    .progress-100 {
      background-image: linear-gradient(90deg, #32485F 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #32485F 50%, #97BEDB 50%, #97BEDB);
    }

      /*LIGHT*/
      .progress-radial.progress-light.progress-0 {
        background-image: linear-gradient(90deg, #97BEDB 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(90deg, #f5f5f5 50%, #97BEDB 50%, #97BEDB);
      }

      .progress-radial.progress-light.progress-5 {
        background-image: linear-gradient(90deg, #97BEDB 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(108deg, #f5f5f5 50%, #97BEDB 50%, #97BEDB);
      }

      .progress-radial.progress-light.progress-10 {
        background-image: linear-gradient(90deg, #97BEDB 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(126deg, #f5f5f5 50%, #97BEDB 50%, #97BEDB);
      }

      .progress-radial.progress-light.progress-15 {
        background-image: linear-gradient(90deg, #97BEDB 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(144deg, #f5f5f5 50%, #97BEDB 50%, #97BEDB);
      }

      .progress-radial.progress-light.progress-20 {
        background-image: linear-gradient(90deg, #97BEDB 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(162deg, #f5f5f5 50%, #97BEDB 50%, #97BEDB);
      }

      .progress-radial.progress-light.progress-25 {
        background-image: linear-gradient(90deg, #97BEDB 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(180deg, #f5f5f5 50%, #97BEDB 50%, #97BEDB);
      }

      .progress-radial.progress-light.progress-30 {
        background-image: linear-gradient(90deg, #97BEDB 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(198deg, #f5f5f5 50%, #97BEDB 50%, #97BEDB);
      }

      .progress-radial.progress-light.progress-35 {
        background-image: linear-gradient(90deg, #97BEDB 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(216deg, #f5f5f5 50%, #97BEDB 50%, #97BEDB);
      }

      .progress-radial.progress-light.progress-40 {
        background-image: linear-gradient(90deg, #97BEDB 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(234deg, #f5f5f5 50%, #97BEDB 50%, #97BEDB);
      }

      .progress-radial.progress-light.progress-45 {
        background-image: linear-gradient(90deg, #97BEDB 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(252deg, #f5f5f5 50%, #97BEDB 50%, #97BEDB);
      }

      .progress-radial.progress-light.progress-50 {
        background-image: linear-gradient(-90deg, #f5f5f5 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #f5f5f5 50%, #97BEDB 50%, #97BEDB);
      }

      .progress-radial.progress-light.progress-55 {
        background-image: linear-gradient(-72deg, #f5f5f5 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #f5f5f5 50%, #97BEDB 50%, #97BEDB);
      }

      .progress-radial.progress-light.progress-60 {
        background-image: linear-gradient(-54deg, #f5f5f5 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #f5f5f5 50%, #97BEDB 50%, #97BEDB);
      }

      .progress-radial.progress-light.progress-65 {
        background-image: linear-gradient(-36deg, #f5f5f5 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #f5f5f5 50%, #97BEDB 50%, #97BEDB);
      }

      .progress-radial.progress-light.progress-70 {
        background-image: linear-gradient(-18deg, #f5f5f5 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #f5f5f5 50%, #97BEDB 50%, #97BEDB);
      }

      .progress-radial.progress-light.progress-75 {
        background-image: linear-gradient(0deg, #f5f5f5 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #f5f5f5 50%, #97BEDB 50%, #97BEDB);
      }

      .progress-radial.progress-light.progress-80 {
        background-image: linear-gradient(18deg, #f5f5f5 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #f5f5f5 50%, #97BEDB 50%, #97BEDB);
      }

      .progress-radial.progress-light.progress-85 {
        background-image: linear-gradient(36deg, #f5f5f5 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #f5f5f5 50%, #97BEDB 50%, #97BEDB);
      }

      .progress-radial.progress-light.progress-90 {
        background-image: linear-gradient(54deg, #f5f5f5 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #f5f5f5 50%, #97BEDB 50%, #97BEDB);
      }

      .progress-radial.progress-light.progress-95 {
        background-image: linear-gradient(72deg, #f5f5f5 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #f5f5f5 50%, #97BEDB 50%, #97BEDB);
      }

      .progress-radial.progress-light.progress-100 {
        background-image: linear-gradient(90deg, #f5f5f5 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #f5f5f5 50%, #97BEDB 50%, #97BEDB);
      }
      /*LIGHT*/
    /*!PROGRESS RADIAL*/

/*!GENERAL*/

/*SECTION*/

  /*CONTENT*/
  #main-content{
    
  }
  .section{
    padding-top: 160px;
    padding-bottom: 80px;
  }

    /*SCT LOGIN*/
    .sct-login{
      padding-top: 250px;
    }
      .sct-login .logo{
        position: fixed;
        bottom: 15px;
        right: 25px;
        display: block;
        height: 15%;
        width: 15%;
      }
      .sct-login .col-center{
        width: 990px;
      }
      .sct-login h2{
        color: #30495D;
        font-size: 30px;
        font-weight: bold;
        margin-bottom: 50px;
      }
      .sct-login .sctl-left{
        width: 380px;
        height: 210px;

        background: url(../images/left.jpg);
        position: relative;
        background-size: cover;
      }
        .sct-login .sctl-left a{
          display: block;
          text-align: center;
          position: relative;
          top: 23%;
        }
          .sct-login .sctl-left a img{
            width: 100%;
            margin-right: auto;
          }
      .sct-login .sctl-right{
        width: 391px;
        height: 210px;
        background: url(../images/right.png);
        background-size: cover;
      }
        .sct-login .sctl-right .sctl-form{
          padding: 15px 20px 10px 35px;
        }
          .sct-login .sctl-right .sctl-form a{
            color: #4FA88A;
            font-size: 14px;
          }
          .sct-login .sctl-right .sctl-form h3{
            color: #fff;
            margin-bottom: -10px;
            font-size: 16px;
            padding: 3px;
          }
          .sct-login .sctl-right .sctl-form .sctl-form-input{
            position: relative;
          }
            .sct-login .sctl-right .sctl-form .sctl-form-input input{
              padding: 10px;
              margin-bottom: 14px;
              font-size: 15px;
              border-top-right-radius: 50px;
              border-bottom-right-radius: 50px;
              display: block;
              width: 90%;
              border: 0;
              margin-top: 16px;
              border: 2px solid transparent;
              outline: none;
            }
              .sct-login .sctl-right .sctl-form .sctl-form-input input.error{
                border-color: red;
              }
            .sct-login .sctl-right .sctl-form .sctl-form-input label.error{
              display: none !important;
            }
            .sct-login .sctl-right .sctl-form .sctl-form-input button{
              background: url(../images/enter.png) #51A78A center;
              background-size: cover;
              position: absolute;
              right: 0;
              top: 12px;
              border: 7px solid #32485F;
              padding: 0;
              border-radius: 50%;
              cursor: pointer;
              height: 74px;
              width: 74px;
            }
              .sct-login .sctl-right .sctl-form .sctl-form-input button:active{
                background: url(../images/enter2.png) #2F6552 center;
              }
    /*!SCT LOGIN*/

    /*SCT EVENT VIEWER*/
    .sct-event-viewer{
      padding: 0 15px;
    }
      .sct-event-viewer .sctev-table{
        *background-color: #32485F;
        padding: 10px;
        margin-bottom: 10px;
        *color: #fff;
      }
      .sct-event-viewer .sctev-data{}
        .sct-event-viewer .sctev-data .nav-tabs>li{
          width: 50%;
          text-align: center;
        }
          .sct-event-viewer .sctev-data .nav-tabs>li>a{
            border-radius: 0;
            margin-right: 0;
            background: #142434;
            color: #3F5471;
            font-size: 16px;
            border: 0;
            text-transform: uppercase;
          }
          .sct-event-viewer .sctev-data .nav-tabs>li.active>a, 
          .sct-event-viewer .sctev-data .nav-tabs>li.active>a:focus, 
          .sct-event-viewer .sctev-data .nav-tabs>li.active>a:hover{
            color: #fff;
            background: #32485F;
          }
        .sct-event-viewer .sctev-data .tab-content .tab-pane{
          padding: 15px 0;
          background-color: #32485F;
          color: #fff;
        }
        .sct-event-viewer .sctev-data .sctev-data-user{
          *border-right: 1px solid #44596E;
        }
          .sct-event-viewer .sctev-data .sctev-data-user .sctev-du-severity{
            text-align: center;
            text-transform: uppercase;
            padding: 10px;
          }
            .sct-event-viewer .sctev-data .sctev-data-user .sctev-du-severity i{
              color: #FE0002;
            }
          .sct-event-viewer .sctev-data .sctev-data-user .sctev-du-score{
            background-color: #f5f5f5;
            color: #f00;
            font-size: 18px;
            padding: 8px 10px;
            font-weight: bold;
          }
          .sct-event-viewer .sctev-data .sctev-du-table{
            background-color: #fff;
            color: #222222;
            padding: 8px 10px;
            margin-top: 10px;
            margin-right: 10px;
          }
            .sct-event-viewer .sctev-data .sctev-du-table table{
              width: 100%;
            }
              .sct-event-viewer .sctev-data .sctev-du-table table td{
                padding: 6px 10px;
              }
              .sct-event-viewer .sctev-data .sctev-du-table table td:first-child{
                width: 20%;
              }
              .sct-event-viewer .sctev-data .sctev-du-table table td:nth-child(2){
                width: 5%;
                text-align: left;
              }
              .sct-event-viewer .sctev-data .sctev-du-table table td:nth-child(3){
                width: 75%;
              }
          .sct-event-viewer .sctev-data .sctev-data-user .sctev-du-user{
            padding: 15px 10px;
          }
            .sct-event-viewer .sctev-data .sctev-data-user .sctev-du-user .sctev-du-user-img{
              margin-bottom: 2px;
            }
              .sct-event-viewer .sctev-data .sctev-data-user .sctev-du-user .sctev-du-user-img img{
                border-radius: 50%;
                width: 45%;
                border: 2px solid #f00;
              }
            .sct-event-viewer .sctev-data .sctev-data-user .sctev-du-user p{
              font-size: 14px;
              margin-bottom: 0;
              line-height: 20px;
              overflow: hidden;
              max-height: 20px;
            }
            .sct-event-viewer .sctev-data .sctev-data-user .sctev-du-user span{
              font-size: 10px;
              display: block;
              line-height: 15px;
              overflow: hidden;
              max-height: 15px;
            }

      .sct-event-viewer .sctev-ep{}
        .sct-event-viewer .sctev-ep .sctev-ep-log{
          position: relative;
          margin-bottom: 7px;
        }
          .sct-event-viewer .sctev-ep .sctev-ep-log img{
            position: absolute;
            top: 1px;
          }
          .sct-event-viewer .sctev-ep .sctev-ep-log span{
            display: block;
            padding-left: 21px;
            font-size: 12px;
          }
        .sct-event-viewer .sctev-ep .sctev-ep-log-choice{
          margin-bottom: 10px;
        }
          .sct-event-viewer .sctev-ep .sctev-ep-log-choice .btn-arim{
            color: #32485F;
          }
        .sct-event-viewer .sctev-ep .sctev-ep-log-row{
          background-color: #32485F;
          color: #fff;
          padding: 10px 12px 14px 12px;
          position: relative;
          margin-bottom: 10px;
        }
          .sct-event-viewer .sctev-ep .sctev-ep-log-row .sctev-ep-lr-icon{
            position: absolute;
            font-size: 13px;
          }
          .sct-event-viewer .sctev-ep .sctev-ep-log-row .sctev-ep-lr-text{
            padding-left: 40px;
            font-size: 12px;
            line-height: 14px;
          }
        
          .sct-dashboard.sct-event-viewer .sctd-content .sctd-default-box .sctd-db-title-right-box .sctd-se-icon{
            border-color: #32485F;
          }
            .sct-dashboard.sct-event-viewer .sctd-content .sctd-default-box .sctd-db-title-right-box .sctd-se-icon .sctd-se-icon-box{
              border-color: #32485F;
            }
            .sct-dashboard.sct-event-viewer .sctd-content .sctd-default-box .sctd-db-title-right-box .sctd-se-icon .sctd-se-icon-box.sctd-se-icon-box-active{
                background-color: #32485F;
                color: #fff; 
              }
                .sct-dashboard.sct-event-viewer .sctd-content .sctd-default-box .sctd-db-title-right-box .sctd-se-icon .sctd-se-icon-box.sctd-se-icon-box-active:hover{
                  background-color: #32485F;
                  color: #f5f5f5;
                }
              .sct-dashboard.sct-event-viewer .sctd-content .sctd-default-box .sctd-db-title-right-box .sctd-se-icon .sctd-se-icon-box:hover{
                background-color: #23364A;
                color: #fff;
              }
    /*!SCT EVENT VIEWER*/

    /*SCT DASHBOARD*/
    .sct-dashboard{
      padding: 0 15px;
    }
      .sctd-navbar{
        margin-left: 230px;
        background-color: #fff;
        box-shadow: 0 0 22px rgba(0,0,0,0.2);
        padding: 7px 0;
      }
        .sctd-navbar.navbar-default .navbar-nav>li>a{
          background-color: #32485F;
          color: #fff;
        }
        .sctd-navbar.navbar-default .navbar-nav>.open>a, 
        .sctd-navbar.navbar-default .navbar-nav>.open>a:focus, 
        .sctd-navbar.navbar-default .navbar-nav>.open>a:hover{
          background-color: #23364A;
          color: #fff;
        }
        .sctd-navbar .navbar-form{
          margin-top: 0;
          margin-bottom: 0;
        }
          .sctd-navbar .navbar-form .form-control{
            padding: 16px 18px;
            height: 49px;
          }
          .sctd-navbar .navbar-form .has-feedback .form-control-feedback{
            top: 7px;
            right: 3px;
          }
      .sct-dashboard .sctd-content{
        position: relative;
        z-index: 1;
        margin-left: 230px;
        padding: 40px 25px;
        margin-top: 55px;
      }
        .sct-dashboard .sctd-content .sctd-default-box{
          background-color: #fff;
        }
          .sct-dashboard .sctd-content .sctd-default-box.sctd-default-box-dark{
            background-color: #32485F;
            color: #fff;
          }
            .sct-dashboard .sctd-content .sctd-default-box.sctd-default-box-dark h2{
              color: #fff;
              border-color: #fff;
            }
          .sct-dashboard .sctd-content .sctd-default-box h2{
            padding: 11px 16px;
            text-align: center;
            text-transform: uppercase;
            font-size: 16px;
            color: #32485F;
            border-bottom: 1px solid #32485F;
            position: relative;
          }
            .sct-dashboard .sctd-content .sctd-default-box h2.sctd-db-title-right{
              position: relative;
            }
              .sct-dashboard .sctd-content .sctd-default-box h2.sctd-db-title-right .sctd-db-title-right-box{
                position: absolute;
                right: 14px;
                top: 10px;
              }
          .sct-dashboard .sctd-content .sctd-default-box .sctd-db-content{
            padding: 20px;
          }

        .sct-dashboard .sctd-content .sctd-time{
          padding: 90px 10px;
          background: url(../images/time.png);
          background-size: cover;
          color: #fff;
          text-shadow: 0 0 4px rgba(0,0,0,0.5);
          text-align: center;
          font-weight: bold;
          font-size: 20px;
          line-height: 26px;
        }
          .sct-dashboard .sctd-content .sctd-time .jqclock{}
            .sct-dashboard .sctd-content .sctd-time .jqclock .clockdate{
              display: block;
              margin-bottom: 10px;
            }
            .sct-dashboard .sctd-content .sctd-time .jqclock .clocktime{
              display: block;
            }

        .sct-dashboard .sctd-content .sctd-clctr{}
          .sct-dashboard .sctd-content .sctd-clctr .sctd-db-title-right-box select{
            border: 1px solid #32485F;
            font-size: 11px;
          }
          .sct-dashboard .sctd-content .sctd-clctr .sctd-clctr-indicator{
            margin-bottom: 8px;
            text-align: center;
          }
            .sct-dashboard .sctd-content .sctd-clctr .sctd-clctr-indicator.sctd-clctr-i-orange{}
              .sct-dashboard .sctd-content .sctd-clctr .sctd-clctr-indicator.sctd-clctr-i-orange .sctd-clctr-indicator-block .sctd-clctr-indicator-progress i{
                background-color: #FD9800;
              }
              .sct-dashboard .sctd-content .sctd-clctr .sctd-clctr-indicator.sctd-clctr-i-orange .sctd-clctr-indicator-block .sctd-clctr-indicator-radial{
                border-color: #FD9800;
              }
            .sct-dashboard .sctd-content .sctd-clctr .sctd-clctr-indicator.sctd-clctr-i-red{}
              .sct-dashboard .sctd-content .sctd-clctr .sctd-clctr-indicator.sctd-clctr-i-red .sctd-clctr-indicator-block .sctd-clctr-indicator-progress i{
                background-color: #FE0000;
              }
              .sct-dashboard .sctd-content .sctd-clctr .sctd-clctr-indicator.sctd-clctr-i-red .sctd-clctr-indicator-block .sctd-clctr-indicator-radial{
                border-color: #FE0000;
              }
            .sct-dashboard .sctd-content .sctd-clctr .sctd-clctr-indicator.sctd-clctr-i-blue{}
              .sct-dashboard .sctd-content .sctd-clctr .sctd-clctr-indicator.sctd-clctr-i-blue .sctd-clctr-indicator-block .sctd-clctr-indicator-progress i{
                background-color: #3080BB;
              }
              .sct-dashboard .sctd-content .sctd-clctr .sctd-clctr-indicator.sctd-clctr-i-blue .sctd-clctr-indicator-block .sctd-clctr-indicator-radial{
                border-color: #3080BB;
              }
            .sct-dashboard .sctd-content .sctd-clctr .sctd-clctr-indicator.sctd-clctr-i-black{}
              .sct-dashboard .sctd-content .sctd-clctr .sctd-clctr-indicator.sctd-clctr-i-black .sctd-clctr-indicator-block .sctd-clctr-indicator-progress i{
                background-color: #142434;
              }
              .sct-dashboard .sctd-content .sctd-clctr .sctd-clctr-indicator.sctd-clctr-i-black .sctd-clctr-indicator-block .sctd-clctr-indicator-radial{
                border-color: #142434;
              }

            .sct-dashboard .sctd-content .sctd-clctr .sctd-clctr-indicator .sctd-clctr-indicator-block{
              display: inline-block;
              vertical-align: middle;
              padding: 4px 8px;
            }
              .sct-dashboard .sctd-content .sctd-clctr .sctd-clctr-indicator .sctd-clctr-indicator-block.sctd-clctr-indicator-block-bg{
                background-color: #32485F;
                color: #fff;
              }
              .sct-dashboard .sctd-content .sctd-clctr .sctd-clctr-indicator .sctd-clctr-indicator-block:first-child{
                width: 40%;
                border-right: 2px solid #fff;
                border-top-left-radius: 5px;
                border-bottom-left-radius: 5px;
                text-align: right;
                padding: 9px 8px;
              }
                .sct-dashboard .sctd-content .sctd-clctr .sctd-clctr-indicator .sctd-clctr-indicator-block:first-child span{
                  font-size: 11px;
                  text-transform: uppercase;
                  line-height: 16px;
                  max-height: 12px;
                  overflow: hidden;
                  position: relative;
                  top: -2px;
                  display: block;
                }
              .sct-dashboard .sctd-content .sctd-clctr .sctd-clctr-indicator .sctd-clctr-indicator-block:nth-child(2){
                width: 52%;
                padding: 9px 8px;
              }
              .sct-dashboard .sctd-content .sctd-clctr .sctd-clctr-indicator .sctd-clctr-indicator-block:last-child{
                width: 5%;
              }
              .sct-dashboard .sctd-content .sctd-clctr .sctd-clctr-indicator .sctd-clctr-indicator-block .sctd-clctr-indicator-progress{
                padding: 2px;
                background-color: #fff;
                border-radius: 25px;
              }
                .sct-dashboard .sctd-content .sctd-clctr .sctd-clctr-indicator .sctd-clctr-indicator-block .sctd-clctr-indicator-progress i{
                  display: block;
                  padding: 4px;
                  border-radius: 25px;
                  background-color: #51A78A;
                }
              .sct-dashboard .sctd-content .sctd-clctr .sctd-clctr-indicator .sctd-clctr-indicator-block .sctd-clctr-indicator-radial{
                display: block;
                width: 16px;
                height: 16px;
                border: 3px solid #51A78A;
                border-radius: 50%;
              }

        .sct-dashboard .sctd-content .sctd-se{}
          .sct-dashboard .sctd-content .sctd-se .sctd-db-title-right-box span{
            display: inline-block;
            vertical-align: middle;
            font-size: 11px;
            text-transform: none;
          }
          .sct-dashboard .sctd-content .sctd-se .sctd-db-title-right-box .sctd-se-icon{
            display: inline-block;
            vertical-align: middle;
            border-right: 1px solid #fff;
          }
            .sct-dashboard .sctd-content .sctd-se .sctd-db-title-right-box .sctd-se-icon .sctd-se-icon-box{
              display: inline-block;
              vertical-align: middle;
              padding: 0px 6px 1px;
              border: 1px solid #fff;
              font-size: 11px;
              border-right: 0;
              cursor: pointer;
              position: relative;
            }
              .sct-dashboard .sctd-content .sctd-se .sctd-db-title-right-box .sctd-se-icon .sctd-se-icon-box.sctd-se-icon-box-active{
                background-color: #fff;
                color: #32485F; 
              }
                .sct-dashboard .sctd-content .sctd-se .sctd-db-title-right-box .sctd-se-icon .sctd-se-icon-box.sctd-se-icon-box-active:hover{
                  background-color: #f5f5f5;
                  color: #32485F;
                }
              .sct-dashboard .sctd-content .sctd-se .sctd-db-title-right-box .sctd-se-icon .sctd-se-icon-box:hover{
                background-color: #23364A;
              }
              .sct-dashboard .sctd-content .sctd-se .sctd-db-title-right-box .sctd-se-icon .sctd-se-icon-box:last-child{
                
              }

        .sct-dashboard .sctd-content .sctd-row-mapstats{}
          .sct-dashboard .sctd-content .sctd-row-mapstats .sctd-rms-country{
            border-top: 1px solid #23364A;
          }
          .sct-dashboard .sctd-content .sctd-row-mapstats .sctd-rms-cc{
            text-align: center;
            color: #31475E;
          }
            .sct-dashboard .sctd-content .sctd-row-mapstats .sctd-rms-cc span{
              font-size: 11px;
              display: block;
              margin-bottom: 15px;
            }
            .sct-dashboard .sctd-content .sctd-row-mapstats .sctd-rms-cc .sctd-rms-cc-progress{
              margin-bottom: 65px;
            }
              .sct-dashboard .sctd-content .sctd-row-mapstats .sctd-rms-cc .sctd-rms-cc-progress h3{
                margin-top: 10px;
                font-size: 16px;
                font-weight: bold;
              }
        
        .sct-dashboard .sctd-content .sctd-row-userstats{}
          .sct-dashboard .sctd-content .sctd-row-userstats .sctd-row-block-userstats{
            background-color: #fff;
            *padding: 15px;
            margin-bottom: 5px;
            border-left: 2px solid #FE0000;
          }
            .sct-dashboard .sctd-content .sctd-row-userstats .sctd-row-block-userstats .col-md-2{
              padding: 0 15px;
            }
            .sct-dashboard .sctd-content .sctd-row-userstats .sctd-row-block-userstats .border-right{
              border-right: 2px solid #eee;
              min-height: 158px;
            }
            .sct-dashboard .sctd-content .sctd-row-userstats .sctd-row-block-userstats .sctd-rbus-box{
              padding: 5px 0;
              margin: 8px 0;
            }
            .sct-dashboard .sctd-content .sctd-row-userstats .sctd-row-block-userstats .sctd-rbus-percentage{
              background-color: #32485F;
              color: #fff;
              float: left;
              width: 15.5%;
              min-height: 158px
            }
              .sct-dashboard .sctd-content .sctd-row-userstats .sctd-row-block-userstats .sctd-rbus-percentage h3{
                margin-top: 42px;
                font-size: 28px;
                font-weight: bold;
              }
              .sct-dashboard .sctd-content .sctd-row-userstats .sctd-row-block-userstats .sctd-rbus-percentage span{
                display: block;
                font-size: 13px;
                margin-top: 4px;
              }
            .sct-dashboard .sctd-content .sctd-row-userstats .sctd-row-block-userstats .sctd-rbus-country{
              position: relative;
            }
              .sct-dashboard .sctd-content .sctd-row-userstats .sctd-row-block-userstats .sctd-rbus-country-row{
                position: relative;
                margin-bottom: 5px;
                height: 17px;
              }
                .sct-dashboard .sctd-content .sctd-row-userstats .sctd-row-block-userstats .sctd-rbus-country-row img{
                  position: absolute;
                  top: 1px;
                  width: 13px;
                  height: 13px;
                }
                .sct-dashboard .sctd-content .sctd-row-userstats .sctd-row-block-userstats .sctd-rbus-country-row p{
                  padding-left: 19px;
                  padding-right: 34px;
                  font-size: 11px;
                  overflow: hidden;
                  max-height: 13px;
                  line-height: 12px;
                  padding-top: 1px;
                  text-transform: uppercase;
                }
                  .sct-dashboard .sctd-content .sctd-row-userstats .sctd-row-block-userstats .sctd-rbus-country-row p:last-child{
                    position: absolute;
                    right: 0;
                    padding: 0;
                    top: 0;
                  }
            .sct-dashboard .sctd-content .sctd-row-userstats .sctd-row-block-userstats .sctd-rbus-stats{
              padding-top: 8px;
            }
              .sct-dashboard .sctd-content .sctd-row-userstats .sctd-row-block-userstats .sctd-rbus-stats .sctd-rbus-s-img{
                display: inline-block;
                width: 40%;
                vertical-align: middle;
              }
              .sct-dashboard .sctd-content .sctd-row-userstats .sctd-row-block-userstats .sctd-rbus-stats .sctd-rbus-s-text{
                display: inline-block;
                width: 60%;
                vertical-align: middle;
                padding-left: 14px;
              }
                .sct-dashboard .sctd-content .sctd-row-userstats .sctd-row-block-userstats .sctd-rbus-stats .sctd-rbus-s-text p{
                  font-size: 11px;
                  line-height: 10px;
                  margin-bottom: 6px;
                }
            .sct-dashboard .sctd-content .sctd-row-userstats .sctd-row-block-userstats .sctd-rbus-user{}
              .sct-dashboard .sctd-content .sctd-row-userstats .sctd-row-block-userstats .sctd-rbus-user .sctd-rbus-u-img{
                margin-bottom: 2px;
              }
                .sct-dashboard .sctd-content .sctd-row-userstats .sctd-row-block-userstats .sctd-rbus-user .sctd-rbus-u-img img{
                  border-radius: 50%;
                  width: 50%;
                }
              .sct-dashboard .sctd-content .sctd-row-userstats .sctd-row-block-userstats .sctd-rbus-user p{
                font-size: 14px;
                margin-bottom: 0;
                line-height: 20px;
                overflow: hidden;
                max-height: 20px;
              }
              .sct-dashboard .sctd-content .sctd-row-userstats .sctd-row-block-userstats .sctd-rbus-user span{
                font-size: 10px;
                display: block;
                line-height: 15px;
                overflow: hidden;
                max-height: 15px;
              }

        .sct-dashboard .sctd-content .sctd-row-icontext{
          margin-bottom: 25px;
        }
          .sct-dashboard .sctd-content .sctd-row-icontext .sctd-row-block-icontext{
            background-color: #fff;
            padding: 20px;
            position: relative;
            min-height: 110px;
            transition: all 0.6s ease;
          }
            .sct-dashboard .sctd-content .sctd-row-icontext .sctd-row-block-icontext.sctd-row-block-icontext-dark{
              background-color: #32485F;
            }
              .sct-dashboard .sctd-content .sctd-row-icontext .sctd-row-block-icontext.sctd-row-block-icontext-dark:hover{
                background-color: #23364A;
              }
              .sct-dashboard .sctd-content .sctd-row-icontext .sctd-row-block-icontext.sctd-row-block-icontext-dark h3,
              .sct-dashboard .sctd-content .sctd-row-icontext .sctd-row-block-icontext.sctd-row-block-icontext-dark p{
                color: #fff !important;
              }
            .sct-dashboard .sctd-content .sctd-row-icontext .sctd-row-block-icontext:hover{
              background-color: #f9f9f9;
            }
            .sct-dashboard .sctd-content .sctd-row-icontext .sctd-row-block-icontext .sctd-bric-icon{
              width: 65px;
              height: 65px;
              position: absolute;
            }
           .sct-dashboard .sctd-content .sctd-row-icontext .sctd-row-block-icontext .sctd-bric-text{
              padding-left: 78px;
              padding-top: 4px;
           }
            .sct-dashboard .sctd-content .sctd-row-icontext .sctd-row-block-icontext .sctd-bric-text h3{
              color: #50A689;
              font-weight: bold;
              font-size: 28px;
              line-height: 34px;
            }
              .sct-dashboard .sctd-content .sctd-row-icontext .sctd-row-block-icontext .sctd-bric-text h3 i{
                font-size: 18px;
                line-height: 8px;
              }
            .sct-dashboard .sctd-content .sctd-row-icontext .sctd-row-block-icontext .sctd-bric-text p{
              font-size: 14px;
            }

      .sct-dashboard .sctd-sidebar{
        position: fixed;
        z-index: 1033;
        width: 230px;
        background: #32485F;
        height: 100%;
        overflow-y: scroll;
        padding-bottom: 50px;
      } 
        /*SCROLLBAR*/
        .sct-dashboard .sctd-sidebar::-webkit-scrollbar {
          width: 5px;
          opacity: 0.5;
        }
        .sct-dashboard .sctd-sidebar::-webkit-scrollbar-track {
          -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
          -webkit-border-radius: 2px;
          border-radius: 2px;
        }
        .sct-dashboard .sctd-sidebar::-webkit-scrollbar-thumb {
            -webkit-border-radius: 2px;
            border-radius: 2px;
            background: rgba(255,255,255,0.4); 
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
        }
        .sct-dashboard .sctd-sidebar::-webkit-scrollbar-thumb:window-inactive {
          background: rgba(255,0,0,0.4); 
        }
        /*!SCROLLBAR*/

        .divider{
          display: block;
          border-top: 1px solid #1F2F3E;
        }
          .divider::before{
            content: "";
            display: block;
            border-top: 1px solid #44596E;
          }

        .sct-dashboard .sctd-sidebar .logo{
          display: block;
          margin: 12px 0 5px;
          position: relative;
        }
          .sct-dashboard .sctd-sidebar .logo a{
            display: block;
          }

        .sctd-burger-menu{
          position: fixed;
          left: 0;
          top: 30px;
          z-index: 1031;
          transition: all 0.6s ease;
        }
          .sctd-burger-menu.sctd-burger-menu-open{
            left: 230px;
          }
          .sctd-burger-menu ul{}
            .sctd-burger-menu ul li{}
              .sctd-burger-menu ul li a{
                display: block;
                background: #263748;
                padding: 10px 20px;
                border-bottom: 1px solid #1F2F3E;
                color: #fff;
              }
                .sctd-burger-menu ul li a:hover{
                  text-decoration: none;
                  background: #2b3c4e;
                }

        .sct-dashboard .sctd-sidebar .sctd-burger{
          position: absolute;
          right: 8px;
          top: 20px;
          background: transparent;
          width: 30px;
          height: 26px;
          cursor: pointer;
        }
          .sct-dashboard .sctd-sidebar .sctd-burger .sctd-burger-line,
          .sct-dashboard .sctd-sidebar .sctd-burger .sctd-burger-line::after,
          .sct-dashboard .sctd-sidebar .sctd-burger .sctd-burger-line::before{
            content: "";
            height: 2px;
            width: 24px;
            background-color: #fff;
            position: absolute;
            top: 6px;
            transition: all 0.6s ease;
          }
            .sct-dashboard .sctd-sidebar .sctd-burger .sctd-burger-line::after{
              top: 12px;
            }
            .sct-dashboard .sctd-sidebar .sctd-burger .sctd-burger-line::before{
              top: 6px;
            }

            .sct-dashboard .sctd-sidebar .sctd-burger.sctd-burger-open .sctd-burger-line{
              transform: rotate(45deg);
              width: 24px;
              top: 12px;
            }
            .sct-dashboard .sctd-sidebar .sctd-burger.sctd-burger-open .sctd-burger-line::before{
              transform: rotate(-90deg);
              width: 24px;
              top: 0;
            }
            .sct-dashboard .sctd-sidebar .sctd-burger.sctd-burger-open .sctd-burger-line::after{
              opacity: 0;
            }
        .sct-dashboard .sctd-sidebar .profile{
          margin: 10px 0 25px;
          text-align: center;
          color: #fff;
        }
          .sct-dashboard .sctd-sidebar .profile a{
            display: block;
            text-align: center;
          }
            .sct-dashboard .sctd-sidebar .profile a img{
              width: 40%;
              border-radius: 50%;
            }
          .sct-dashboard .sctd-sidebar .profile span{
            color: #7E8B9B;
            font-size: 12px;
            display: block;
          }
          .sct-dashboard .sctd-sidebar .profile h3{
            color: #7E8B9B;
            font-size: 22px;
            display: block;
            font-weight: bold;
          }
        .sct-dashboard .sctd-sidebar .menu{}
          .sct-dashboard .sctd-sidebar .menu ul{}
            .sct-dashboard .sctd-sidebar .menu ul li{}
              .sct-dashboard .sctd-sidebar .menu ul li a{
                display: block;
                padding: 14px 12px 16px;
                position: relative;
              }
                .sct-dashboard .sctd-sidebar .menu ul li a .icon{
                  display: block;
                  position: absolute;
                  width: 35px;
                  height: 35px;
                  top: 4px;
                }
                  .sct-dashboard .sctd-sidebar .menu ul li a .icon.icon-2-line{
                    top: 14px;
                  }
                .sct-dashboard .sctd-sidebar .menu ul li a .text{
                  display: block;
                  padding-left: 40px;
                  color: #fff;
                  font-size: 17px;
                }
                  .sct-dashboard .sctd-sidebar .menu ul li a:hover,
                  .sct-dashboard .sctd-sidebar .menu ul li a.active{
                    background: #23364A;
                    text-decoration: none;
                  }
                  .sct-dashboard .sctd-sidebar .menu ul li a.active{
                    font-weight: bold;
                  }

    /*!SCT DASHBOARD*/

  /*!CONTENT*/

/*!SECTION*/


/*===RESPONSIVE===*/
@media only screen and (max-width: 1024px) {
  
}

@media only screen and (min-width: 769px) {

}

@media only screen and (max-width: 768px) {

  .sct-login{
    padding-top: 80px;
  }
  .sct-login .logo{
    position: relative;
    margin-top: 30px;
    bottom: auto;
    right: auto;
    text-align: center;
  }
    .sct-login .logo img{
      width: 100px;
    }
  .sct-login .col-center{
    width: 94%;
  }
  .sct-login .sctl-left{
    width: 50%;
    display: inline-block;
    vertical-align: top;
  }
  .sct-login .sctl-right{
    width: 50%;
    display: inline-block;
    vertical-align: top;
  }

}

@media only screen and (max-width: 650px) {
  .sct-login .sctl-left{
    width: 100%;
    display: block;
    height: auto;
    padding: 15px;
  }
    .sct-login .sctl-left a img{
      width: auto;
      height: 90px;
    }
  .sct-login .sctl-right{
    width: 100%;
    display: block;
    background: #32485F;
  }
}

@media only screen and (max-width: 425px) {

}

@media only screen and (max-width: 375px) {
  
}

/*===RESPONSIVE===*/
